@model IEnumerable<ZeroHunger.EM.EmployeeFood>
<h2>Employee Who is already Assigned</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Restaurant.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Food.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Food.Restaurant.name)
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteEmployeeFood", new { id = item.id })
    </td>
</tr>
}

</table>
