<br />
<h2>Collect food</h2>
<br />


<form method="post">


    Select an employee:
    <select name="employeeID" class="form-control">
        @foreach (var f in ViewBag.st)
        {
            <option value="@f.id">@f.name</option>
        }
    </select>

    Select Food:
    <select name="foodID" class="form-control">
        @foreach (var f in Model)
        {
            <option value="@f.id">@f.Restaurant.name => @f.name</option>
        }
    </select>



    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Assign">
</form>
@*<form method="post">
        <input type="text" name="status" value="" />

        <br />
        <input type="submit" class="btn btn-primary" name="submit" value="Update">
</form>*@

