@model IEnumerable<ZeroHunger.EM.Food>
<h2>Donated Food list</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.name)
        </th>
        <th>
            Employee Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.name)
            </td>
            <td>
                @foreach (var i in item.EmployeeFoods)
                {

                    @Html.DisplayFor(modelItem => i.Employee.name);
                    <span>,</span>
                }
            </td>
            <td>
                <a href="/Food/EditFood/@item.id" class="btn btn-primary">Edit</a>
                <a href="/Food/DetailsFood/@item.id" class="btn btn-primary">Details</a>
                @{if (Session["role"].Equals("admin"))
                    {
                        if (!item.EmployeeFoods.Any())
                        {
                            <a href="/Food/DeleteFood/@item.id" class="btn btn-primary">Delete</a>
                        }

                    }
                }

            </td>
        </tr>
    }

</table>
@{

    if (Session["role"].Equals("admin"))
    {
        <a href="/Employee/CreateEmployeeFood" class="btn btn-primary">Assign Employee to food</a>
        <a href="/Employee/EmployeeFoodList" class="btn btn-primary">Employee Food List</a>
        <a href="/Employee/AllEmployee" class="btn btn-primary">Employee List</a>
    }
}
